name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore src/MongoDB.Driver.Extensions.Ledger.csproj

    - name: Build
      run: dotnet build src/MongoDB.Driver.Extensions.Ledger.csproj --configuration Release --no-restore

    - name: Pack
      run: dotnet pack src/MongoDB.Driver.Extensions.Ledger.csproj -c Release -o out --no-build

    # - name: Publish NuGet package
    #   env:
    #     NUGET_API_KEY: ${{ secrets.NugetSecret }}
    #   run: dotnet nuget push "./out/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key $NUGET_API_KEY